* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(139, 0, 0); 
    color: #000000;
    padding: 20px;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: rgb(190, 182, 103);
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: rgb(211, 204, 191);
    text-align: center;
    margin-bottom: 30px;
}

.form-container {
    background-color: rgb(211, 204, 191);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 5px solid rgb(190, 182, 103);
    border-radius: 8px;
}

button {
    background-color: rgb(225, 0, 0);
    color: rgb(211, 204, 191);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #4d0404;
}

.resultado {
    margin-top: 15px;
    padding: 10px;
    background: rgb(211, 204, 191);
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.container-footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: rgb(211, 204, 191);
    text-decoration: none;
    font-weight: bold;
}